nav ul{
    list-style:none;
    position: absolute;
    
    
}
.korra{
    display: flex;
}
.korra li{
    padding: 10px;
    margin-left: 4px;
    background-color: coral
}
a{
    text-decoration: none;
    color: mediumspringgreen;
    font-size: xx-large;
    
}
.korra li:hover{
    background-color: dimgray;
}
.aura{
    display: none;
    
}
nav li:hover .aura{
    display: block;
}
label{
    display: block;
    padding: 5px;
}